@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
  /*--theme-white: rgb(255,254,249);
  --theme-natwhite: rgb(255,251,238);*/
  --theme-brown: rgb(79, 53, 14);
  
  --theme-white: rgb(255,252,243);
  --theme-natwhite: rgb(255,249,228);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--theme-white);
  color: var(--theme-brown);
  overflow-x: hidden;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

nav {
  /*background-color: var(--theme-natwhite);*/
  backdrop-filter: blur(3px);
  padding: 20px;
  text-align: left;
  font-weight: 700;
  font-size: 1.2em;
  margin: 40px;
  margin-right: 60px;
  z-index: 90;
    position: fixed;
    top: 0;
    right: 0;
    gap: 50px;
}

section {
  min-height: 495px;
}

section:nth-of-type(1) {
  height: 100vh;
}
section:nth-of-type(2) {
  min-height: 100vh;
  background-color: var(--theme-natwhite);
}
section:nth-of-type(3) {
  min-height: 100vh;
}
section:nth-of-type(4) {
  height: 100vh;
  background-color: var(--theme-natwhite);
}

a {
  color: var(--theme-brown);
}

a:hover {
  opacity: 0.8;
}
