.flexr, .flexc {

  display: flex;
  justify-content: center;
}

.flexr {
  flex-direction: row;
}

.flexc {
  flex-direction: column;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.customHeader {
  font-size: 32px;
  margin-bottom: 20px;
  margin-left: 80px;
  
}

.text1p3x {
  font-size: 1.3rem;
  margin: 0px;
  text-align: center;
}

.text1x {
  margin: 0px;
  margin-left: 20px;
  width: 50%;
  line-height: 3ch;
  white-space: pre-line;
}

.textlight {
  font-weight: 100;
  opacity: 0.5;
}

.anav {
  transition: all ease-out 
  200ms;
  color: var(--theme-brown);
  text-decoration: none;
}

.white-text {
  color: var(--theme-white);
}

.navButton {
  height: 40px;
  width: 50px;
  font-weight: 700;
  font-size: 1.2em;
  margin: 40px;
  margin-right: 60px;
  z-index: 90;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-brown);
  padding: 5px 10px 5px 10px;
  gap: 8px;
  box-shadow: 4px 4px rgb(79, 53, 14, 0.5);
  border-radius: 4px;
  cursor: pointer;
}

.navButtonStripe {
  background-color: var(--theme-white);
  height: 15%;
  width: 90%;
}

.smallMenu {
    background-color: rgba(79, 53, 14,.9)/*var(--theme-brown)*/;
    backdrop-filter: blur(3px);
    padding: 10px 0 10px 0;
    text-align: left;
    font-weight: 700;
    font-size: 1.2em;
    z-index: 90;
    position: fixed;
    top: 0;
    left: 0;
    gap: 10px;
    width: 100%;
    align-items: center;
    cursor: pointer;
    transition: all ease-out 
    200ms;
    
}
/*
.displayMenu-enter {
  opacity: 0;
  transform: scale(0.5);
}
.displayMenu-enter-active{
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.displayMenu-exit {
  opacity: 1;
}
.displayMenu-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}*/

.faceImg {
  width: 50%;
  height: calc(3ch * 10);
  object-fit: contain;
  margin-right: 10px;
}

.projectsContainer {
  align-items: center;
  gap: 30px; 
  max-width: 1000px;
  flex-wrap: wrap;
}

.projectBox {
  width: 300px;
}

.projectImg {
  width: 300px;
  height: 300px;
  /*box-shadow:  0 0 0 2pxvar(--theme-white);*/
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}

.projectImg:hover {
  transform: rotateZ(3deg) scale(1.025);
  transition: all ease-out 
  150ms;
}

.projectImg:not(hover) {
  transition: all ease-out 
  150ms;
}

.boxStyle {
  border: 2px solid var(--theme-brown);
  box-shadow: 8px 8px rgb(79, 53, 14, 0.5);
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  /*pointer-events: none;*/
  transition: ease-in 100ms;
  align-items: center;
  /*opacity: 0;*/
  z-index: 98;
}

.overlayMask {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.5);
  height: 100%;
  width: 100%;
  z-index: 99;
  backdrop-filter: blur(3px);
  cursor: pointer;
}

.projectInfoTab {
  outline: 2px solid var(--theme-brown);
  background: var(--theme-natwhite);
  min-width: 300px;
  max-width: 1063px;
  width: 80%;
  max-height: 90%;
  min-height: 547px;
  z-index: 100;
  
}

.projectInfoTabImg {
  height: 40%;
  object-fit: contain;
  margin: 30px;
}

.projectInfoTabText {
  margin: 10px 30px 10px 30px;
  text-align: center;
}

.underline {
  margin: 0 30px 0 30px;
  width: calc(100% - 60px);
  padding-bottom: 20px;
  border-bottom: solid 2px var(--theme-brown);
}

.viewButton {
  padding: 11px 22px;
  background: var(--theme-brown);
  color: var(--theme-white);
  text-align: center;
  box-sizing: border-box;
  width: calc(9ch *1.4);
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
  text-decoration: none;
 /* margin: 10px auto 30px auto;*/
}

.visible {
  opacity: 1;
  pointer-events: initial;
}

.footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  left: 0;
  right: 0;
  align-items: center;
  gap: 20px;
}

.highlight {
  opacity: 0.6;
  border-bottom: 2px solid var(--theme-brown);
}

#xButton {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  z-index: 101;
}

.xInfo {
  position: relative;
  right: 15px;
  margin-right: 30px;
  background-color: var(--theme-brown);
}

.xSmallMenu {
  position: absolute;
  right: 15px;
  margin-right: 55px;
  background-color: var(--theme-brown);
}

.x1, .x2 {
    height: calc(30px * 0.6); 
    width: 2px;
    background-color: var(--theme-natwhite);
    position: absolute;
}
.x1 {
    transform: rotate(45deg);
    Z-index: 102;
  }
  
  .x2 {
    transform: rotate(135deg);
    Z-index: 103;
  }